.card {
  padding: 20px 23px;
  border: 2px solid #c4c4c4;
  border-radius: 10px;
  width: 345px;
  height: 188px;
}

.title {
  padding: 10px;
  font-weight: 700;
  font-size: 18px;
  color: #ffce07;
  cursor: pointer;
}

.paragraf {
  font-weight: 400;
  font-size: 18=6px;
}
